<% unless params[:number_of_tickets].nil? %>
  <% unless @searched_flights.empty? %>
    <hr>
    <%= form_with model: @booking, method: :get, url: new_booking_path do |f| %>
      <% @searched_flights.order(takeoff: :asc).each do |flight| %>
        <div class="flight-container">
          <div class="flight-radio">
            <% form.radio_button :flight_id, value: flight.id %>
          </div>
          <div class="flight-info">
            Departing from: <%= flight.departure_airport.name %><br>
            Arriving in: <%= flight.arrival_airport.name %><br>
            Departure time: <%= flight.takeoff %><br>
            Arriving time: <%= (flight.takeoff + flight.duration) %><br>
            <hr>
          </div>
        </div>
      <% end %>
      <%= form.submit 'Go to checkout' %>
    <% end %>
  <% else %>
    No flights were found for this day.
  <% end %>
<% end %>